*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, rgba(125,185,175,0.2), rgba(125,185,175,1));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.loginfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
}

.info-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.details{
    width: 20vw;
    display: flex;
    flex-direction: column;
}

img{
    height: 15vh;
    border-radius: 30%;
}

.icon{
    width: 3vw;
    height: 5vh;
    border-radius: 0;
}

.logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.img-row{
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.box{
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 3%;
}

.greet{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.greet-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical{
    border-left: 1px solid  grey;
    height: 7vh;
}

.img-2{
    border: none;
    width: 30vw;
    height: 55vh;
}

.btn-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 10vw;
    height: 5vh;
    padding: 0.50em;
    background-color:#3a4845;
    border:none;
    outline: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    cursor: pointer;
    background-color: darkblue;
}